<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
    <title>{{pageTitle}}</title>
</head>
<body>
    <header class="header">
        <a href="/" class="title">Nisar Hussain Rentals</a>            
        <form action="/rental-catalog/search" method="POST" class="search-box">
            <input type="text" name="searchkey" placeholder="Enter keyword">
            <button class="btn" type="submit">Search</button>
        </form>
    </header>
    <main>
        <div class="container">
            {{{body}}}
        </div>
    </main>
</body>
</html>
